# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = pd.read_csv("clean_city_data.csv")
df

,Unnamed: 0,lon,lat,max_temp,humidity,wind_speed,cloudiness,country,date
0,San Cristobal,-89.62,-0.90,293.56,85.0,6.16,67,ec,2020-07-15 10:30:52
1,Port Alfred,26.89,-33.59,288.27,42.0,2.48,19,za,2020-07-15 10:36:22
2,Yuanping,112.76,38.72,293.77,81.0,0.13,4,cn,2020-07-15 10:36:22
3,Cidreira,-50.21,-30.18,284.13,56.0,2.64,0,br,2020-07-15 10:36:23
4,São Filipe,-24.50,14.90,298.58,79.0,5.02,30,cv,2020-07-15 10:36:23
...,...,...,...,...,...,...,...,...,...
548,Gornopravdinsk,69.90,60.05,301.24,61.0,3.08,0,ru,2020-07-15 10:38:04
549,Cuiabá,-56.10,-15.60,303.15,51.0,1.00,0,br,2020-07-15 10:34:53
550,Båtsfjord,29.72,70.63,283.15,81.0,8.70,50,no,2020-07-15 10:39:08
551,Punta de Bombón,-71.79,-17.17,291.29,67.0,2.81,4,pe,2020-07-15 10:39:09
552,Ludvika,15.19,60.15,288.71,93.0,3.10,100,se,2020-07-15 10:39:09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

data = [(row.lat, row.lon, row.humidity) for i,row in df.iterrows()]

In [4]:
m = gmaps.Map()
m.add_layer(gmaps.heatmap_layer(df[["lat", "lon"]], df.humidity))

m

Map(configuration={'api_key': 'AIzaSyCvaicO_1Vn4r3wxpVv6BqmTBzNXHTzlm0'}, data_bounds=[(-48.38576229117794, -1…

import gmaps.datasets
eqdata = gmaps.datasets.load_dataset

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# convert from kelvin to fahrenheit
df.max_temp = (df.max_temp - 273.15) * 9/5 + 32 

#convert meters/second to miles/hour
df.wind_speed = (df.wind_speed *2.23694)

In [6]:
df.dropna(axis=0, inplace=True)
df = df[(df.max_temp > 72) & (df.max_temp < 80) & (df.wind_speed < 10) & (df.cloudiness<10)]
df

,Unnamed: 0,lon,lat,max_temp,humidity,wind_speed,cloudiness,country,date
5,Oswego,-76.15,43.45,78.008,65.0,0.603974,1,us,2020-07-15 10:36:23
157,Henties Bay,14.28,-22.12,73.994,46.0,2.997500,0,na,2020-07-15 10:35:29
178,Makakilo City,-158.09,21.35,75.200,83.0,5.816044,1,us,2020-07-15 10:35:50
302,‘Ewa Beach,-158.01,21.32,75.200,83.0,5.816044,1,us,2020-07-15 10:37:55
363,Dongsheng,109.98,39.82,74.534,50.0,2.460634,9,cn,2020-07-15 10:38:14
385,Isangel,169.27,-19.55,72.050,85.0,2.236940,1,vu,2020-07-15 10:38:21
545,Atbasar,68.33,51.80,76.460,59.0,8.455633,0,kz,2020-07-15 10:39:07

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = df.copy()
hotel_df.head()

,Unnamed: 0,lon,lat,max_temp,humidity,wind_speed,cloudiness,country,date
5,Oswego,-76.15,43.45,78.008,65.0,0.603974,1,us,2020-07-15 10:36:23
157,Henties Bay,14.28,-22.12,73.994,46.0,2.997500,0,na,2020-07-15 10:35:29
178,Makakilo City,-158.09,21.35,75.200,83.0,5.816044,1,us,2020-07-15 10:35:50
302,‘Ewa Beach,-158.01,21.32,75.200,83.0,5.816044,1,us,2020-07-15 10:37:55
363,Dongsheng,109.98,39.82,74.534,50.0,2.460634,9,cn,2020-07-15 10:38:14

In [11]:
import requests, json 
  
# enter your api key here 
def get_hotel_info(df_row):

    lat, lon = df_row["lat"], df_row["lon"]

    # url variable store url 
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat},{lon}&radius=5000&type=lodging&key={g_key}"

    r = requests.get(url) 

    x = r.json() 
    hotel = x['results'][0]
    return hotel['name']#, hotel['geometry']['location']['lat'],hotel['geometry']['location']['lng']

In [14]:
hotel_df['hotel_name'] = hotel_df.apply(get_hotel_info, axis=1)

In [20]:
hotel_df.rename(columns = {"Unnamed: 0":"city"}, inplace=True)
hotel_df

,city,lon,lat,max_temp,humidity,wind_speed,cloudiness,country,date,hotel_name
5,Oswego,-76.15,43.45,78.008,65.0,0.603974,1,us,2020-07-15 10:36:23,S & E Mobile Home Park
157,Henties Bay,14.28,-22.12,73.994,46.0,2.997500,0,na,2020-07-15 10:35:29,Fishermans Guest House
178,Makakilo City,-158.09,21.35,75.200,83.0,5.816044,1,us,2020-07-15 10:35:50,Marriott's Ko Olina Beach Club
302,‘Ewa Beach,-158.01,21.32,75.200,83.0,5.816044,1,us,2020-07-15 10:37:55,Hampton Inn & Suites Oahu/Kapolei
363,Dongsheng,109.98,39.82,74.534,50.0,2.460634,9,cn,2020-07-15 10:38:14,Crowne Plaza Ordos
385,Isangel,169.27,-19.55,72.050,85.0,2.236940,1,vu,2020-07-15 10:38:21,Volcano Sea View Tree House
545,Atbasar,68.33,51.80,76.460,59.0,8.455633,0,kz,2020-07-15 10:39:07,"The Ritz-Carlton, Astana"

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel_name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lon"]]

In [24]:
# Add marker layer ontop of heat map
m.add_layer(gmaps.marker_layer(locations, info_box_content=hotel_info))

# Display figure
m

Map(configuration={'api_key': 'AIzaSyCvaicO_1Vn4r3wxpVv6BqmTBzNXHTzlm0'}, data_bounds=[(-48.38576229117794, -1…